{% extends "template.html"%}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<button onclick="window.history.back()"><h2 style="font-size:3rem;"> &#8592; </h2></button>
<h1 class="heading" id="title" style="margin-bottom:0px; padding-bottom:0px;">Loading...</h1>
<h4 id="author" style="margin-top:0px; padding-top:0px;"></h4>
<h5 id="date" style="margin-top:0px; padding-top:0px;"></h5>

</br>
</br>

<div id="spinner">
    <!-- Loading square for squar.red network -->
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div id="content">

</div>

{% endblock %}
{% block scripts %}
<script>
$.ajax({
    url: "/api/posts/{{id}}",
    type: "get",
    beforeSend: function() {
        $("#spinner").show();
    },
    success: function(resp){
        if(resp["success"]){
            console.log(resp);
            let post = resp["data"]["post"]
            $("#title").html(post["title"])
            $("#author").html(post["author"])
            $("#content").html(post["content"])
            $("#date").html(post["createdAt"].slice(0, 10))
            $("#spinner").hide()
        }
    }
})
</script>
{% endblock %}

