{% extends "template.html"%}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<h1 id="breathing" data-splitting style="margin-bottom:0px; padding-bottom:0px;">Stumbling Blog</h1>
<h4 style="margin-top:0px; padding-top:0px;">by <a style="text-decoration:underline;" href="https://ianmkim.com">parvusvox</a></h4>

</br>
</br>

<a href="https://google.com">
<div class="card">
    <div class="card-body">
        <h3>Open source is evidence that communism works</h3>
        <h5>parvusvox</h5>
        <h6>Aug 28. 2021</h6>
    </div>
</div>
</a>

{% endblock %}
{% block scripts %}
<script>
    Splitting()
</script>
{% endblock %}

