{% extends "template.html"%}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<canvas style="width:200px; height:200px;" id="graphic"></canvas>
<h1 class="heading" id="" style="margin-bottom:0px; padding-bottom:0px;">The Informed Technologist</h1>
<h4 style="margin-top:0px; padding-top:0px;">by <a style="text-decoration:underline;" href="submit">anonymous contributors & editors</a></h4>

</br>
</br>
<h3>What Technologists should be.</h3>
<p>Higher education has churned out technologists and engineers who are hyperfocused on their field. As a result, engineers often lose sight of their work's larger societal, philosophical, and anthropological context and impact. Contrary to reality, engineers should strive to become modern-day polymaths, as they are society's primary holders of power.</p>

<p>The Informed Technologist publishes articles that meld technology and the humanities written by technologists.</p>


</br>
</br>
<h3>Why do we Publish Anonymously?</h3>
<p> Our editorial board believes that brilliant ideas should be promoted regardless of where they originated from. Therefore, we take submissions from anybody and selectively publish them anonymously so that all ideas are judged based on their merits alone. </p>

</br>
</br>

<h2>Write for The Informed Technologist.</h2>
<p>To submit your essay to The Informed Technologist, send your draft (txt, pdf, docx, markdown) file to <a style="text-decoration:underline;" href="mailto:informed.technologist@protonmail.com">informed.technologist@protonmail.com</a></p>

</br>
</br>
</br>
</br>
</br>





{% endblock %}
{% block scripts %}
<script src="https://raw.githack.com/strangerintheq/rgba/0.0.5/rgba.js"></script>
<script src="/static/index.js"></script>
{% endblock %}

