{% extends "template.html"%}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<h1 class="heading" id="breathing" data-splitting style="margin-bottom:0px; padding-bottom:0px;">The Stumbling Blog</h1>
<h4 style="margin-top:0px; padding-top:0px;">by <a style="text-decoration:underline;" href="https://ianmkim.com">parvusvox</a></h4>

</br>
</br>

<div id="spinner">
    <!-- Loading square for squar.red network -->
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<div id="results">
    
</div>

{% endblock %}
{% block scripts %}
<script src="/static/index.js"></script>
<script>
    Splitting()
</script>
{% endblock %}

