{% extends "template.html"%}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<canvas style="width:200px; height:200px;" id="graphic"></canvas>
<a href="/"><h1 class="heading" id="" style="margin-bottom:0px; padding-bottom:0px;">The Informed Technologist</h1></a>
<h4 style="margin-top:0px; padding-top:0px;">by <a style="text-decoration:underline;" href="submit">anonymous contributors & editors</a></h4>

</br>
</br>

<div id="spinner">
    <!-- Loading square for squar.red network -->
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<div id="results">

</div>

{% endblock %}
{% block scripts %}
<script src="https://raw.githack.com/strangerintheq/rgba/0.0.5/rgba.js"></script>
<script src="/static/index.js"></script>
<script>
    Splitting()
</script>
{% endblock %}

