@import url("https://outfitio.github.io/Outfit-Fonts/outfit-fonts.css");
@font-face {
    font-family: "outfit-variable";
    src: url("https://outfitio.github.io/Outfit-Fonts/fonts/variable/Outfit.ttf");
}

:root {
    --main-bg-color: #1a1616;
}

body {
    background-color: var(--main-bg-color);
    color: #ffffff;
    transition: all 1s ease;
}

h1 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#ffffff), color-stop(#d1cdff), to(#6f80c2));
    background-image: -o-linear-gradient(left, #ffffff, #e0e0fe, #d1cdff, #6f80c2);
    background-image: linear-gradient(to right, #ffffff, #e0e0fe, #d1cdff, #6f80c2);
    color: #000119;
    color: var(--main-bg-color);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em / 7);
}

h1 .char {
    --delay: calc((var(--char-index) + 1) * 400ms);
    animation: breathe 4000ms infinite both;
    animation-delay: var(--delay);
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
		font-size: 4rem;
	}
	60% {
		font-variation-settings: 'wght' 700, 'wdth' 100;
		font-size: 4.4rem;
	}
	100% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
		font-size: 4rem;
	}
}

* {
    font-family: outfit;
}

h1 {
    font-weight:900;
    font-size: 3rem;
}

a {color: inherit;}
a:hover {
    color:inherit;
    text-decoration: none;
}

.card{
    background-color: transparent;
    border:  double 4px white;
    border-radius: 20px;
    --webkit-transition: all 0.25s ease;
    transition:         all 0.25s ease;


}

.card:hover{    
    border: double 4px #e0e0fe;
}


.loader {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: relative;
  border: 4px solid #Fff;
  left: 50%;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
